body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1200px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.horizontal-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-section {
    flex: 1 1 calc(33.333% - 10px);
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-right: 10px;
    min-width: 200px;
}

.form-section label {
    margin-bottom: 5px;
}

input, select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.time-inputs {
    display: flex;
    justify-content: space-between;
}

.time-inputs input {
    width: 48%;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result-container {
    margin-top: 20px;
    font-size: 1.2em;
    display: none;
}

#result-container h2 {
    margin-bottom: 10px;
}

.ads {
    margin-top: 20px;
}

.ad {
    margin-bottom: 10px;
}

.ad img {
    width: 100%;
    border-radius: 5px;
}

.ad p {
    margin-top: 5px;
}
